<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddevlpauthguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"    
        android:theme="@style/AppTheme" > 
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <!--  <receiver android:name=".MyAppWidgetProvider">
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider"/>
            <intent-filter > 
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver> 
        <activity android:name=".ConfigAppWidgetActivity">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity> --> 
        <!--  <activity   
            android:name=".ShortcutActivity"
            android:label="打电话2" 
            android:icon="@drawable/star"> 
            
            <intent-filter> 
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity> -->  
        <!--  <service
            android:name="com.example.androiddevlpauthguide.service.LiveWallpaperService" 
            android:icon="@drawable/star"
            android:label="@string/description"
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER">  
            
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data 
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>  -->
             
        <activity android:name=".CheckedTextActivity"/> 
        <activity android:name=".Activity1" android:label="Activity1">
		</activity>  
		<activity android:name=".Activity2" android:label="Activity2">
		</activity>    
		<activity android:name=".Activity3" android:label="Activity3"/> 
		<activity android:name=".AnimationActivity2"/> 
		<service android:name=".WifiActivity" />  
    </application>     
    
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
</manifest> 